/* Bracket.css */
.bracket-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-surface);
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }
  
  .round {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .matchup {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    width: 150px;
    height: 50px;
    margin: 20px 0;
    color: white;
    background-color: var(--color-border);
  }
  
  .final {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .final .matchup {
    border: 2px solid gold;
    width: 200px;
    height: 75px;
    background-color: var(--color-surface-hover);
    font-weight: bold;
    font-size: 18px;
  }
  