@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background--rgb: 215, 169, 169;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background--rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
