.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la pantalla */
  }
  
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 8px solid rgba(0, 0, 0, 0.1); /* Borde exterior */
    border-top: 8px solid #a60000; /* Color del spinner */
    border-radius: 50%;
    animation: spin 2s linear infinite; /* Animación de giro */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  